
<hr />

<div class="container py-5">
    <div class="container-fluid">
        <p class="">
            "Welcome to HelpingHands, your 'one stop shop' where you are assisted with day-to-day and exclusive planning and purchasing activities. We take pride in our
            iconic customer support number, 8888888888 and the fact that we own a strong hold on local business information pan India."
        </p>
        <p class="">
            "Our service extends from providing address and contact details of business establishments around the country, to making orders and reservations for
            leisure, medical, financial, travel and domestic purposes. We enlist business information across varied sectors like Hotels, Restaurants, Auto Care,
            Home Decor, Personal and Pet Care, Fitness, Insurance, Real Estate, Sports, Schools, etc. from all over the country. Holding information right from
            major cities like Mumbai, Delhi, Bangalore, Hyderabad, Chennai, Ahmedabad and Pune our reach stretches out to other smaller cities across the country
            too."
        </p>
        <p class="">
            "Our 'Free Listing' feature gives a platform to showcase varied specialities. We then furnish you with the information via phone, SMS, web, App and WAP
            as well as, create a space for you to share your experiences through our 'Rate & Review' feature. Through the 'Best Deals', 'Last Minute Deals' and
            'Live Quotes', we make sure that you are offered the best bargains in the market."
        </p>
    </div>


    <div class="container-fluid my-3 fw-bold  ">
        Some of our services that will prove useful to you on a day-to-day basis are :
    </div>


    <div class="container-fluid">
        <div class="row  py-2 ">
            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_b2b.svg" alt="B2B">
                    </span>
                    <a class="text-dark text-decoration-none" href="">B2B</a>

                </div>
                <div class="">
                    "Experience the ultimate B2B portal by Justdial. You can explore countless diverse categories, innumerable top-quality vendors, and an unmatched wholesale
                    experience. You'll find everything you need for B2B requirements on this exclusive platform. Our interactive interface allows you to apply relevant filters,
                    ascertain the best rates, and get instant assistance via chat."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_allindia.svg" alt="All India">
                    </span>
                    <a class="text-dark text-decoration-none" href="">All India</a>

                </div>
                <div class="">
                    "Elevate your search for B2B requisites. From lead generation to promoting and selling products/services, Justdial enables enterprises to reach vast audiences all
                    across India. Embracing digital strategies, Justdial India encompasses manufacturers, dealers, suppliers, vendors, wholesalers, and more, offering convenience in
                    the B2B market space and empowering businesses nationwide."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_packersmovers.svg" alt="Packers and Movers">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Packers and Movers</a>

                </div>
                <div class="">
                    "If you’re relocating to another place, or even if you just want to send some belongings elsewhere, find the best deals on the most reliable packers and movers for
                    your location. Get quotes from multiple agencies, read reviews from previous customers, and check ratings before making a selection for a hassle-free experience."
                </div>
            </div>



            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_orderfood.svg" alt="Order Food Online">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Order Food Online</a>

                </div>
                <div class="">
                    "You are just three clicks away from placing an order and exploring a wide range of exotic cuisines. Order food online with Justdial and get your favourite food
                    delivered at your doorstep. Search for restaurants, view reviews and ratings, avail discounts and order your food."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_jobs.svg" alt="Jobs">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Jobs</a>

                </div>
                <div class="">
                    "Providing pertinent jobs to job seekers and relevant profiles to employers, this service will help you reach out to employers and vice-versa across industry
                    verticals, experience levels and geographies."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_movies.svg" alt="Movies">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Movies</a>

                </div>
                <div class="">
                    "This gives you access to book tickets and keep updated with the latest movies. With the provision of a synopsis, cast, crew and trailer, you can make a better
                    choice in the movie you would like to watch."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_spa-salon.svg" alt="Spa & Salon">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Spa & Salon</a>

                </div>
                <div class="">
                    "Skip the wait to get pampered at a spa or a salon. In a few clicks, 'Book an Appointment' online through Justdial before your next visit."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_repairservices.svg" alt="Repair & Services">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Repair & Services</a>

                </div>
                <div class="">
                    "Find the 'Best Deal', be it for repairing your air-conditioner, getting your car serviced or cleaning your water purifier and drive your utility problems away."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_doctorappointment.svg" alt="Doctor Appointment">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Doctor Appointment</a>

                </div>
                <div class="">
                    "Find the suitable medical specialist to take care of your health and well-being. Healthcare made easy."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_realestateagent.svg" alt="Real Estate Agents">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Real Estate Agents</a>

                </div>
                <div class="">
                    "Discover the power of our cohesive platform for simplified property searches. Whether your interest lies in PG, rentals, buying, or selling, you can connect with
                    trusted agents and developers and stay updated on upcoming or trending residential and commercial projects."
                </div>
            </div>

            <div class="col-12 col-lg-4 py-2">
                <div class="text-center">
                    <span>
                        <img src="https://akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/ftr_onlinerecharge.svg" alt="Online Recharge/Bill Payment">
                    </span>
                    <a class="text-dark text-decoration-none" href="">Online Recharge/Bill Payment</a>

                </div>
                <div class="">
                    "With the help of this service you can stay on track in making your bill payments and recharges without having to wait in a queue. This includes bill payments for
                    gas, electricity, data card, DTH, landline, etc."
                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid">
        "Some of the other services that can be of assistance to you for leisure, health and home convenience are - Pest Control, Skin Care Clinics, Painters, Laundry Services,
        Interior Designers, Mobile Phone Repair, Vaccination Centres, Internet Service Providers, etc. With an endless number of things under the sun, you can be sure this will be
        your 'One Stop Shop' to find everything and more."
    </div>
</div>