<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HelpingHands_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/firstcategory">
                <span class="oi oi-plus" aria-hidden="true"></span> First Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/secondcategory">
                <span class="oi oi-plus" aria-hidden="true"></span> Second Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/thirdcategory">
                <span class="oi oi-plus" aria-hidden="true"></span> Third Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/country">
                <span class="oi oi-plus" aria-hidden="true"></span> Country
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/state">
                <span class="oi oi-plus" aria-hidden="true"></span> State
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/city">
                <span class="oi oi-plus" aria-hidden="true"></span> City
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/amenity">
                <span class="oi oi-plus" aria-hidden="true"></span> Amenity
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/service">
                <span class="oi oi-plus" aria-hidden="true"></span> Service
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/payment">
                <span class="oi oi-plus" aria-hidden="true"></span> Payment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/review">
                <span class="oi oi-plus" aria-hidden="true"></span> Review
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/enquiry">
                <span class="oi oi-plus" aria-hidden="true"></span> Enquiry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/company">
                <span class="oi oi-plus" aria-hidden="true"></span> Company
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
